<ion-header-bar class="bar-assertive">
  <h1 class="title">个人中心</h1>
      <button class="button button-assertive icon ion-refresh" ng-click="$refresh()"></button>
</ion-header-bar>

  <ion-content padding="true" class="has-tabs page-person">
    <ion-list id="person-list8">
      <ion-item class="item-avatar" id="person-list-item22">
        <img ion-img ngsrc="assets/img/normal.png" alt="">
        <h2>gsonhub</h2>
        <p>一个任性的小男孩...</p>
      </ion-item>
    </ion-list>
    <ion-list id="person-list5">
      <ion-item class="item-icon-left item-icon-right" id="person-list-item18" ng-click="goStar()">
        <i class="icon ion-android-list assertive"></i>我的收藏
        <i class="icon ion-ios-arrow-right dark"></i>
        </ion-item>
         <ion-item class="item-icon-left item-icon-right" id="person-list-item18">
        <i class="icon ion-android-list assertive"></i>重置密码
         <i class="icon ion-ios-arrow-right dark"></i></ion-item>
         <ion-item class="item-icon-left item-icon-right" id="person-list-item18">
        <i class="icon ion-android-list assertive"></i>退出登录
         <i class="icon ion-ios-arrow-right dark"></i></ion-item>

    </ion-list>
  </ion-content>
